# on raspberry pi, the package linux-headers-rpi-v8 is already installed
# so we only install headers on amd64 systems
- name: headers
  ansible.builtin.apt: { name: linux-headers-amd64 }
  when: ansible_architecture == "x86_64"
- name: package
  ansible.builtin.apt: { name: zfsutils-linux }
- name: configuration
  ansible.builtin.template: { src: zfs.conf, dest: /etc/modprobe.d/ }
- name: kernel module
  community.general.modprobe: { name: zfs }

# TODO: when importing pools by name, apparently libblkid resolves devices to /dev/sdX
#       maybe we should change ZPOOL_IMPORT_PATH in /etc/default/zfs (there is already a commented line for it)
#       or adjust zpool.py to give devices explicitly
#       this seems to take the shape of zpool import -d /dev/disk/by-id/a-part1 -d /dev/disk/by-id/b-part1 ... pool-name
- name: pools
  zpool:
    name: "{{ item.key }}"
    hard: "{{ item.value.hard | default(omit) }}"
    force: "{{ item.value.force | default(omit) }}"
    vdevs: "{{ item.value.vdevs }}"
    properties: "{{ item.value.properties | default(omit) }}"
  loop: "{{ pools | dict2items }}"
  loop_control: { label: "{{ item.key }}" }
- name: datasets
  community.general.zfs:
    name: "{{ item.key }}"
    state: present
    extra_zfs_properties: "{{ item.value | default(omit, true) }}"
  loop: "{{ datasets | dict2items }}"
  loop_control: { label: "{{ item.key }}" }

- name: curl package
  ansible.builtin.apt: { name: curl }
- name: zed configuration
  ansible.builtin.template: { src: zed.rc, dest: /etc/zfs/zed.d/ }
- name: zed service
  ansible.builtin.systemd_service: { name: zfs-zed, enabled: yes, state: started }

# TODO:
# debian uses the return code of zfs get to determine if the user-defined properties for scrubs and trims exist
# however, zfs get always succeeds on user-defined properties, so scrubs and trims run despite missing properties
# this is most likely a bug, and we do not want to rely on this bug continuing to exist, so we remove the crontab
- name: no debian zfs cron job
  ansible.builtin.file: { path: /etc/cron.d/zfsutils-linux, state: absent }

- name: timer scrub
  ansible.builtin.include_role: { name: tools/timer }
  vars:
    service: zpool-scrub@
    description: zpool scrub on %i
    command: zpool scrub -w %i
    time: "{{ timers.scrub | default('*-*-01 00:00:00') }}"
    variance: 1h
    persistent: yes
- name: timer scrub state
  ansible.builtin.systemd_service:
    name: zpool-scrub@{{ item.key }}.timer
    enabled: "{{ enabled }}"
    state: "{{ 'started' if enabled else 'stopped' }}"
    daemon_reload: yes
  vars: { enabled: "{{ item.value.scrub | default(false) }}" }
  loop: "{{ pools | dict2items }}"
  loop_control: { label: "{{ item.key }}" }

- name: timer trim
  ansible.builtin.include_role: { name: tools/timer }
  vars:
    service: zpool-trim@
    description: zpool trim on %i
    command: zpool trim -w %i
    time: "{{ timers.trim | default('*-*-15 00:00:00') }}"
    variance: 1h
    persistent: yes
- name: timer trim state
  ansible.builtin.systemd_service:
    name: zpool-trim@{{ item.key }}.timer
    enabled: "{{ enabled }}"
    state: "{{ 'started' if enabled else 'stopped' }}"
    daemon_reload: yes
  vars: { enabled: "{{ item.value.trim | default(false) }}" }
  loop: "{{ pools | dict2items }}"
  loop_control: { label: "{{ item.key }}" }
