- name: restart docker linux
  ansible.builtin.systemd_service: { name: docker, state: restarted }
  when: ansible_facts["os_family"] != "Windows"
- name: restart docker windows
  ansible.windows.win_service: { name: docker, state: restarted }
  when: ansible_facts["os_family"] == "Windows"
