- name: package
  ansible.builtin.apt: { name: [docker.io, docker-compose] }
  when: ansible_facts["os_family"] == "Debian"
- name: service
  ansible.builtin.systemd_service: { name: docker, state: started }
  when: ansible_facts["os_family"] != "Windows"
- name: feature
  ansible.windows.win_feature: { name: Containers }
  register: feature
  when: ansible_facts["os_family"] == "Windows"
- name: reboot
  ansible.windows.win_reboot:
  when: ansible_facts["os_family"] == "Windows" and feature.reboot_required
- name: package
  win_chocolatey: { name: docker-engine }
  register: package
  when: ansible_facts["os_family"] == "Windows"
- name: reboot
  ansible.windows.win_reboot:
  when: ansible_facts["os_family"] == "Windows" and package.rc == 3010
- name: service
  ansible.windows.win_service: { name: docker, state: started }
  when: ansible_facts["os_family"] == "Windows"

- name: exceptions
  ansible.builtin.import_role: { name: services/nftables }
  vars: { configuration: "{{ lookup('template', 'exceptions.conf') }}" }
  when: ansible_facts["os_family"] != "Windows" and exceptions is defined

- name: configuration
  ansible.builtin.template: { src: daemon.json, dest: "{{ path[ansible_facts['os_family']] }}" }
  vars: { path: { Debian: /etc/docker/, Windows: /ProgramData/docker/config/ } }
  notify: [restart docker linux, restart docker windows]

- name: flush handlers
  ansible.builtin.meta: flush_handlers
