- name: package
  community.general.pacman: { name: pkgfile }
  when: ansible_facts["os_family"] == "Archlinux"
- name: timer
  ansible.builtin.systemd_service: { name: pkgfile-update.timer, enabled: true, state: started }
