- name: package
  ansible.builtin.apt: { name: borgmatic }
- name: directory
  ansible.builtin.file: { path: /etc/borgmatic.d, state: directory, mode: 0600 }
- name: configuration
  ansible.builtin.template:
    src: config.yaml
    dest: /etc/borgmatic.d/{{ item.key }}.yaml
    validate: validate-borgmatic-config --config %s
  loop: "{{ backups | dict2items }}"
  loop_control: { label: "{{ item.key }}" }

# TODO: this errors when used on repositories with a different encryption setting
#       in borgmatic 2.0.0, this can be set per-repository, but debian trixie has borgmatic 1.9.14
#       so we disable this for now, it's easy enough to run this manually to create new repositories
#       using the transfer command in borg 2.0, we could also recreate older repositories with consistent encryption settings
# - name: repositories
#   ansible.builtin.command: borgmatic init --encryption repokey
#   register: result
#   changed_when: result.stdout != "" or result.stderr != ""

- name: timer
  ansible.builtin.include_role: { name: tools/timer }
  vars:
    service: borgmatic
    description: borgmatic backup
    command: borgmatic --verbosity -1 --syslog-verbosity 1 create
    time: "{{ timer | default('*-*-* 00:00:00') }}"
    variance: 1h
    persistent: yes
- name: timer enabled
  ansible.builtin.systemd_service: { name: borgmatic.timer, enabled: yes, state: started, daemon_reload: yes }
