- name: no net mods
  ansible.builtin.apt: { name: raspberrypi-net-mods, state: absent, purge: yes, autoremove: yes }
  register: net_mods
- name: plain network
  ansible.builtin.apt: { name: network-manager, state: absent, purge: yes, autoremove: yes }
  when: net_mods.changed
- name: package
  ansible.builtin.apt: { name: ifupdown }
  when: net_mods.changed
- name: interfaces
  ansible.builtin.copy: { src: interfaces.cfg, dest: /etc/network/interfaces }
  when: net_mods.changed
- name: reboot
  ansible.builtin.reboot:
  when: net_mods.changed

- name: no nopasswd configuration
  ansible.builtin.file: { path: /etc/sudoers.d/010_pi-nopasswd, state: absent }

- name: full upgrade
  ansible.builtin.apt: { update_cache: yes, upgrade: full }
  when: net_mods.changed
- name: reboot
  ansible.builtin.reboot:
  when: net_mods.changed
