services:
  main:
    image: nextcloud
    restart: unless-stopped
    links: [database]
    volumes:
    - ./html:/var/www/html
    - ./data:/var/www/html/data
    ports: [{{ forward | default(80) }}:80]
    environment:
      POSTGRES_HOST: database
      POSTGRES_USER: nextcloud
      POSTGRES_PASSWORD: nextcloud
      POSTGRES_DB: nextcloud
      # nextcloud will only parse X-Forwarded headers from hosts in the trusted proxies list
      # it uses those to determine the protocol (for redirects) and the host (for checks against trusted domains)
      # it uses the X-Real-IP header for correctly logging with the client IP address
      TRUSTED_PROXIES: {{ trusted.proxies | default(omit) }}
      NEXTCLOUD_TRUSTED_DOMAINS: {{ trusted.domains | default(omit) }}
      NEXTCLOUD_ADMIN_USER: {{ admin.username }}
      NEXTCLOUD_ADMIN_PASSWORD: {{ admin.password }}
  database:
    image: postgres
    restart: unless-stopped
    shm_size: 1g
    volumes: [./postgres:/var/lib/postgresql]
    environment:
      POSTGRES_USER: nextcloud
      POSTGRES_PASSWORD: nextcloud
      POSTGRES_DB: nextcloud
